<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chatsune</title>
    {% load static %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/index_script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/chat_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <h3>{{message}}</h3>
        {% endfor %}
    {% endif %}
    <div>
        <div id='register'>
            <h1>Create an Account:</h1>
            <form action='/register' method=post>
                {% csrf_token %}
                <input type='text' name='Username' placeholder='Username'><br>
                <input type='password' name='Password' placeholder="Password"><br>
                <input type='password' name='C_Password' placeholder='Confirm Password'><br>
                <input type='submit' value="Register">
            </form>
        </div>
        <div id='login'>
            <h1>Log In:</h1>
            <form action='/login' method=post>
                {% csrf_token %}
                <input type='text' name='L_Username' placeholder='Username'><br>
                <input type='password' name='L_Password' placeholder='Password'><br>
                <input type='submit' value='Log In'>
            </form>
        </div>
    </div>
    <div id="disclaimer">
        <h1>DISCLAIMER:</h1>
        <h2>This chat is provided as is, for free. Do not post any sensitive information as the chat rooms are not private and there is no way to know who might be present.</h2>
    </div>

    <div id='chat'>
        <h2 id='index_header'> Index Chat:</h2>
        <div id='chat_log'></div>
        <label id="index_name">Name: </label><input type="text" id="U_N">
        <label id="index_message">Message: </label><input id='chat_message_input' type='text'>
        <input id='c_m_submit' type='button' value='Send'>
        <input type='hidden' value='null' id='user'>
    </div>

</body>
</html>