<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome {{request.session.user}}</title>
    {% load static %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/lobby_script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/lobby_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat_style.css' %}">
</head>

<body>
    <h1 id='room_select_header'>Select a chat room: </h1>
    <input id='room_name' type='text'>
    <input id='r_n_submit' type='button' value='enter'><br>

    <div id='chat'>
        <h2 id='lobby_header'> Lobby Chat:</h2>
        <div id='chat_log'></div>
        <input id='chat_message_input' type='text' size='91'>
        <input id='c_m_submit' type='button' value='Send'>
        <input type='hidden' value='{{request.session.user}}' id='user'>
    </div>
</body>

</html>