<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{request.session.room_name}}, {{request.session.user}}</title>
    {% load static %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/room_script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/chat_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat_style.css' %}">
</head>
<body>
    <div id='chat'>
        <h2 id='header'> Lobby Chat:</h2>
        <div id='chat_log'></div>
        <input id='chat_message_input' type='text' size='91'>
        <input id='c_m_submit' type='button' value='Send'>
        <input type='hidden' value='{{request.session.user}}' id='user'>
    </div>

</body>
<!-- <script>
    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/' + roomName + '/'
    );

    chatSocket.onmessage = function(e){
        var data = JSON.parse(e.data);
        var message = data['message'];
        var user = data['user'];
        $('#chat_log').append("<span class='user'>" + user + "</span><span class = 'message'>" + message + "</span><br>");
    };

    chatSocket.onclose = function(e){
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat_message_input').focus();
    document.querySelector('#chat_message_input').onkeyup = function(e){
        if(e.keyCode == 13)  { // check if return is pressed on submit button
            document.querySelector('#c_m_submit').click();
        }
    };

    document.querySelector('#c_m_submit').onclick = function(e){
        var messageInputDom = document.querySelector('#chat_message_input');
        var message = messageInputDom.value;
        var user = $('#user').val();
        // var user = document.querySelector('#user').value
        chatSocket.send(JSON.stringify({
            'user': user + ': ',
            'message': message,
        }));

        messageInputDom.value = '';
    };
</script> -->
</html>