<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{request.session.room_name}}, {{request.session.user}}</title>
    {% load static %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/room_script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/chat_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat_style.css' %}">
</head>

<body>
    <div id='chat'>
        <h2 id='header'> Lobby Chat:</h2>
        <div id='chat_log'></div>
        <input id='chat_message_input' type='text' size='91'>
        <input id='c_m_submit' type='button' value='Send'>
        <input type='hidden' value='{{request.session.user}}' id='user'>
    </div>

</body>

</html>